<nav class="navbar">

    <div class=container-fluid>

        <div class="row justify-content-between">
            <div class="col-6">
                
                <a class="navbar-brand" href="#">
                    <img src="/images/logo.png" width="170"  class="d-inline-block align-top" alt="">
                   
                </a>

            </div>

            <div class="col-4">
                <div class="toggle">
                    <a><i class="fas fa-align-right"></i></a>
                </div>
            </div>
          </div>

    </div>

</nav>


<div class="menu">
    
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Sponsors</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Prices</a></li>
    </ul>
</div>


<script>
    $(document).ready(function(){
        $('.toggle').click(function(){
            
            $('.menu').toggleClass('active');
        });
    });

</script>