
 

    <div class="icon-bar">

        <a href="#"  ><i   class="fab fa-facebook fa-lg"></i></a> 
        <a href="#"  ><i class="fab fa-twitter fa-lg"></i></a> 
     
        <a href="#"  ><i class="fab fa-linkedin fa-lg"></i></a>
     
    </div>

 

