
 

    <div class="icon-bar">
        
        <a href="#"   data-micron="tada" data-micron-duration=".95"  ><i   class="fab fa-facebook fa-lg"></i></a> 
        <br>
        <a href="#"   data-micron="tada" data-micron-duration=".95"  ><i class="fab fa-twitter fa-lg"></i></a> 
        <br>
        <a href="#"   data-micron="tada" data-micron-duration=".95" ><i class="fab fa-linkedin fa-lg"></i></a>
     
    </div>

 

