<div class="contact p-3 mt-5" id="contact">
    <div class="container pt-5 text-center" style="border: 0px;">
        <div class="row">
            <div class="col-md-6 text-center">
                <h1>Contact Us</h1>
                <br/>
                <span class="text-muted">The support team is here to help you. Register your queries in this form or mail us at 
                    <a href="#">dsc.nit.agt@gmail.com</a></span>
                    <br/>
                    <div class="container-fluid">
                         
                        <img class='img-thumbnail' style='transform:scale(1.1) ;background-color:transparent; border:0px;' src="https://media.giphy.com/media/3ohhwxHoItgMxO5J60/giphy.gif" alt="">
                    </div>
            </div>
        
            <div class="col-md-6 card p-3" style=" --box-shadow-color:#00b09c;
            box-shadow: 1px 3px 4px var(--box-shadow-color);">
                <form role="form" id="contact-form" class="contact-form needs-validation" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                            <input required type="text" class="form-control" name="Name" autocomplete="off" id="Name" placeholder="NAME">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                            <input required type="email" class="form-control" name="email" autocomplete="off" id="email" placeholder="EMAIL">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea required class="form-control textarea" rows="3" name="Message" id="Message" placeholder="MESSAGE"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" class="btn main-btn pull-right" class="button" data-micron="groove" data-micron-timing="ease-in" value="Send a message"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <%- include('includes/footer') %>
</div>
