<div class="contact p-3">
    <div class="align-center">
    <div class="text-center"><h2 >Contact Us</h2></div><br/><br/>
    <div class="container text-center">
        <form role="form" id="contact-form" class="contact-form needs-validation" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                    <input required type="text" class="form-control" name="Name" autocomplete="off" id="Name" placeholder="Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                    <input required type="email" class="form-control" name="email" autocomplete="off" id="email" placeholder="E-mail">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea required class="form-control textarea" rows="3" name="Message" id="Message" placeholder="Message"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" class="btn main-btn pull-right" class="button" data-micron="groove" data-micron-timing="ease-in" value="Send a message"/>
                </div>
            </div>
        </form>
    </div>
    </div>
</div>
