
<div class="p-5">

    <h1 class="text-center">Frequently Asked Questions(FAQs)</h1>
<div class="container">

    <div class="row">
        <div class="col-12">
            <p><strong>Who are we?</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue, justo ac gravida hendrerit, eros tortor viverra ipsum, dapibus posuere eros lectus id nisl. Integer turpis orci, viverra sed mattis sed, feugiat eu dui. Mauris dapibus dolor velit. 
            Ut ut lacinia massa, nec maximus dui. Aenean vitae lorem quis elit tristique volutpat a ut magna. Ut tempus consectetur aliquet. Aenean consectetur imperdiet fermentum. Vestibulum porttitor est massa, id tempus nisi dictum sed. Morbi pulvinar nulla vel feugiat sagittis. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p><strong>What we plan to do?</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue, justo ac gravida hendrerit, eros tortor viverra ipsum, dapibus posuere eros lectus id nisl. Integer turpis orci, viverra sed mattis sed, feugiat eu dui. Mauris dapibus dolor velit. 
            Ut ut lacinia massa, nec maximus dui. Aenean vitae lorem quis elit tristique volutpat a ut magna. Ut tempus consectetur aliquet. Aenean consectetur imperdiet fermentum. Vestibulum porttitor est massa, id tempus nisi dictum sed. Morbi pulvinar nulla vel feugiat sagittis. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p><strong>Can we do it?</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue, justo ac gravida hendrerit, eros tortor viverra ipsum, dapibus posuere eros lectus id nisl. Integer turpis orci, viverra sed mattis sed, feugiat eu dui. Mauris dapibus dolor velit. 
            Ut ut lacinia massa, nec maximus dui. Aenean vitae lorem quis elit tristique volutpat a ut magna. Ut tempus consectetur aliquet. Aenean consectetur imperdiet fermentum. Vestibulum porttitor est massa, id tempus nisi dictum sed. Morbi pulvinar nulla vel feugiat sagittis. </p>
        </div>
    </div>

</div>
</div>