<div class="intro">
    <div class="container">
        <div class="float-right">
            <h1 class="text-center">HACK D'20</h1>
            <h3>A Powerful Punchline Goes Here</h3>
            <button>Coming Soon</button>
        </div>
    </div>
</div>