<div class="intro" id="intro">
    <%- include('includes/navbar') %>
    <div class="container">

        <div class="float-right text-center" >
            <h1 class="title" style="font-family: 'Cinzel Decorative', cursive;">HACK D'20</h1>
            <h3>A Powerful Punchline Goes Here</h3>
            
            <br>
            <button   class="buttonsoon button" data-micron="bounce" data-micron-duration=".95">
                Coming Soon
            </button>
        
        </div>

    </div>
</div>