<div class="intro">
    <%- include('includes/navbar') %>
    <div class="container">

        <div class="float-right text-center" >
            <h1 class="title" style="font-family: 'Cinzel Decorative', cursive;">HACK D'20</h1>
            <h3>A Powerful Punchline Goes Here</h3>
            <a href="" class="buttonsoon">
                Coming Soon
            </a>
        
        </div>

    </div>
</div>