

<div class="container p-5">

    <h1 class="text-center"> Speakers </h1>

<div class="row text-center" style="margin-top: 2rem;"> 
    <% for(var i=0; i<speakers.length; i++) { %>
        <div class="col-md-6 col-sm-12">
           <div class="img-thumbnail">
                <img src="<%= speakers[i].img_url %>" height="200px" width="200px" />
            </div>
        <div class="desc m-2">
            <div><strong><%= speakers[i].name %> </strong> </div>
            <div class="lead"> <%= speakers[i].desc %> </div>
        </div>
        </div>
    <% } %>
</div>
</div>
