<div class="speakers" id="speakers">

<div class="container p-5">

    <h1 class="text-center"> Speakers </h1>

<div class="row text-center" style="margin-top: 2rem;"> 
    <% for(var i=0; i<speakers.length; i++) { %>
        <div class="col-md-6 col-sm-12">
            <div class="card shadow-sm border-0 rounded m-3">
            
            <div class="containerprofile card-body p-0">
                <img src="<%= speakers[i].img_url %>" alt="Avatar" height="200px" width="200px" class="image">
                
                <br>
                <div class="overlay">
                <a href="#" class="icon" title="LinkedIn Profile">
                  <i class="fab fa-linkedin"></i>
                </a>
                </div>
                <p class="card-text" >
                   <strong> <%= speakers[i].name %> </strong>
                </p>
            </div>
            <br>
        </div>
    </div>
        <br>
    <% } %>
</div>
</div>
</div>