 <div class="container">
     <h1 class="text-center">
        Our Team
     </h1>
     <br>

     <div class="row">
         
        <% for (var i =1; i <=4;  i++ ) { %>
             
            <div class="col-sm text-center shadow-lg" style="border:2px solid black; border-radius:12px; margin-right:10px; margin-left:10px; padding: 5px;">
                <br>
                <img class="img-thumbnail" style="border-radius: 50%;  width: 150px;" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.haMC_PQgpFutBOwrDI8KLAAAAA%26pid%3DApi&f=1">
                <br>
                <h2>
                    Rohit Saha
                </h2>
                <hr style="margin: 5px;">
                <div class="container" style="text-align: center;">
    
                    <a href="#" class="socialtags" ><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="#" class="socialtags" ><i class="fab fa-github fa-2x"></i></a>
                   
                </div>
                <br>
            </div>

            <% } %>

        
        

    
        

        
      </div>
 </div>