.intro {
  background-image: url('/img/introBG.svg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.intro h1 {
  font-size: 5rem;
}

.float-right {
  float: right;
}
