.intro {
  background-image: url('/img/introBG.svg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.intro h1 {
  font-size: 5rem;
}

.float-right {
  float: right;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 120px; /* to be more intuitive */
  width: 100%; /* take the parent's width */
}
