@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  overflow-x: hidden;
  padding: 0;

  margin-top: -10px;
  font-family: 'Montserrat', sans-serif;
}

.intro {
  background-image: url('/img/landing PAge2.svg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: '100%';
  min-height: 100vh;
}

.intro h1 {
  font-size: 6rem;
}

.float-right {
  float: right;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  height: 120px; /* to be more intuitive */
  width: 100%; /* take the parent's width */
}

.contact {
  background-image: url('/img/LAnding page.svg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: '100%';
  min-height: 100vh;
}

.about {
  background-image: url('/img/about us.svg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: '100%';
  min-height: 100vh;
}

.logo {
  width: 170px;
}

.faqs {
  background-image: url('/img/about us human.svg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: '100%';
  min-height: 100vh;
}

.align-center {
  transform: translateY(15%);
}

.contact-form {
  margin-top: 15px;
}
.contact-form .textarea {
  min-height: 300px;
  resize: none;
}
.form-control {
  box-shadow: none;
  border-color: #eee;
  height: 49px;
}
.form-control:focus {
  box-shadow: none;
  border-color: #00b09c;
}
.form-control-feedback {
  line-height: 50px;
}
.main-btn {
  background: #00b09c;
  border-color: #00b09c;
  color: #fff;
}
.main-btn:hover {
  background: #00a491;
  color: #fff;
}
.form-control-feedback {
  line-height: 50px;
  top: 0px;
}

@media screen and (max-width: 990px) {
  .intro h1 {
    font-size: 4rem;
  }
  .float-right {
    float: none;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    height: 120px; /* to be more intuitive */
    width: 100%; /* take the parent's width */
  }

  .logo {
    width: 100px;
    margin-top: 3px;
  }
}
