.speakers {
  background-image: url(./img/3rd\ last\ layer2.svg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
